dbay-backend/
pyleco/

# macOS metadata
.DS_Store
*/.DS_Store

ref/

!ref/snspd_measure_old/

# Project-specific outputs and configs
projects/*
!projects/.gitkeep

# Python bytecode / caches
**/__pycache__/
*.py[cod]


.pytest_cache/


old/


